.header {
  background-color: rgb(189, 189, 189);
  background-image: linear-gradient(to left, transparent 30%, transparent 20%, rgb(189, 189, 189) 80%), url('img/IMG_7327_crop.JPG');
  background-size: 1500px;
  height: 900px;
  background-position: 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: 20px 10000px;
  align-content: end;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 130%;
  line-height: 20%;
}

.header h1 {
  text-decoration: underline;
}

body {
  margin: auto;
}

h3 {
  color: rgb(85, 85, 85);
}

p {
  color: rgb(85, 85, 85);
}







/* .header  {
  width: 100%;  
  text-align: center;
  background-color: lightblue;
  background-image: linear-gradient(to right, black, rgba(145, 9, 9, 0.6));
  color: white;

  height: 280px;
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
}

#grad1 {
  height: 200px;
  background-image: linear-gradient(to right, rgb(28, 141, 179), rgba(255, 255, 255, 0));
}

h1 {
  color: black
}

body {
  background-color: lightgray;
}

p {
  color: black;
} */