.header {
  background-image: url('img/header\ 2\ crop.JPG');
  background-repeat: no-repeat;
  height: 835px;
  background-size: 1700px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  justify-content: right;
  margin-top: 5%;
  margin-right: 5%;
  
  column-gap: 10%;
  row-gap: 40%;
}

.grid-item {
  text-align: center;
  border: 5px solid white;
  font-size: 30px;
}

.grid-item p {
  position: relative;
  top: 25%;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
}

/* buttons */
/* a.education:link {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

a.job:link {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
} */

.header-text {
  position: relative;
  top: 80%;
  margin-top: 0%;
  margin-left: 2%;

  color: white;
}

#education {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('img/original_68ca6a77-e6f1-4520-92c5-dd0a15adb846_IMG_20230609_171516283_HDR.jpg');
  background-repeat: no-repeat;
  background-size: 200px;
}

/* #education :hover {
  background-image: url('img/original_68ca6a77-e6f1-4520-92c5-dd0a15adb846_IMG_20230609_171516283_HDR.jpg');
  background-repeat: no-repeat;
  background-size: 200px;
} */

#jobs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('img/cn-camps.jpg');
  background-repeat: no-repeat;
  background-size: 260px;
}

#experience {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('img/52844170571_e49520a314_o\ \(1\).jpg');
  background-repeat: no-repeat;
  background-size: 200px;
}

#skills {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('img/52416879986_d2f550ba93_b.jpg');
  background-repeat: no-repeat;
  background-size: 300px;
}

body {
  margin: auto;
}